
BabyNanas/\.idea/
.idea/baby_nanas.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

BabyNanas/app/release/
BabyNanas/app/gradlew
BabyNanas/app/gradle/wrapper/gradle-wrapper.properties
BabyNanas/app/gradlew.bat
BabyNanas/app/gradle/wrapper/gradle-wrapper.jar
